<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @diannao.mingzi %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @diannao.ip %>
</p>

<p>
  <strong>Neiip:</strong>
  <%= @diannao.neiip %>
</p>

<p>
  <strong>Yonghu:</strong>
  <%= @diannao.yonghu %>
</p>

<p>
  <strong>Mima:</strong>
  <%= @diannao.mima %>
</p>

<p>
  <strong>Pubkey:</strong>
  <%= @diannao.pubkey %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @diannao.miaoshu %>
</p>

<%= link_to 'Edit', edit_diannao_path(@diannao) %> |
<%= link_to 'Back', diannaos_path %>
