<p id="notice"><%= notice %></p>

<p>
  <strong>测试类型:</strong>
  <%= @ceshirenwuguanli.ceshileixing %>
</p>

<p>
  <strong>测试项:</strong>
  <%= @ceshirenwuguanli.ceshixiang %>
</p>

<p>
  <strong>脚本名称:</strong>
  <%= @ceshirenwuguanli.jiaobenmingcheng %>
</p>

<p>
  <strong>创建时间:</strong>
  <%= @ceshirenwuguanli.chuangjianshijian %>
</p>

<p>
  <strong>状态:</strong>
  <%= @ceshirenwuguanli.zhuangtai %>
</p>

<p>
  <strong>测试结果:</strong>
  <%= @ceshirenwuguanli.ceshijieguo %>
</p>

<%= link_to 'Edit', edit_ceshirenwuguanli_path(@ceshirenwuguanli) %> |
<%= link_to 'Back', ceshirenwuguanlis_path %>
