<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @feiyong.mingzi %>
</p>

<p>
  <strong>Jine:</strong>
  <%= @feiyong.jine %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @feiyong.miaoshu %>
</p>

<%= link_to 'Edit', edit_feiyong_path(@feiyong) %> |
<%= link_to 'Back', feiyongs_path %>
