<%= form_for(menu) do |f| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mingzi %>
    <%= f.text_field :mingzi %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :menu_id %>
    <%= f.text_field :menu_id %>
  </div>注意这里
      <% f.fields_for :submenus do |pf| %> #
      <%= pf.text_field :url %>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
