<%= simple_form_for(@dianhuahuangye) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dianhuahaoma,label:"电话号码" %>
    <%= f.input :mingcheng,label:"名称" %>
    <%= f.input :guanzhuchengdu,label:"关注程度" %>
    <%= f.input :shuoming,label:"说明" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
