<p id="notice"><%= notice %></p>

<p>
  <strong>电话号码:</strong>
  <%= @dianhuahuangye.dianhuahaoma %>
</p>

<p>
  <strong>名称:</strong>
  <%= @dianhuahuangye.mingcheng %>
</p>

<p>
  <strong>关注程度:</strong>
  <%= @dianhuahuangye.guanzhuchengdu %>
</p>

<p>
  <strong>说明:</strong>
  <%= @dianhuahuangye.shuoming %>
</p>

<%= link_to 'Edit', edit_dianhuahuangye_path(@dianhuahuangye) %> |
<%= link_to 'Back', dianhuahuangyes_path %>
