<p id="notice"><%= notice %></p>

<h1>消息模板</h1>

<table>
  <thead>
    <tr>
      <th>编码</th>
      <th>标题</th>
      <th>消息内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xiaoximobans.each do |xiaoximoban| %>
      <tr>
        <td><%= xiaoximoban.bianma %></td>
        <td><%= xiaoximoban.biaoti %></td>
        <td><%= xiaoximoban.xiaoxineirong %></td>
        <td><%= link_to 'Show', xiaoximoban %></td>
        <td><%= link_to 'Edit', edit_xiaoximoban_path(xiaoximoban) %></td>
        <td><%= link_to 'Destroy', xiaoximoban, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建消息模板', new_xiaoximoban_path %>
