<p id="notice"><%= notice %></p>

<h1>财务汇总</h1>

<table>
  <thead>
    <tr>
      <th>统计日期</th>
      <th>统计类型</th>
      <th>jietiaozongbishu</th>
      <th>借条金额</th>
      <th>借条利息</th>
      <th>fangkuanzongbishu</th>
      <th>放款金额</th>
      <th>放款利息</th>
      <th>xujiezongbishu</th>
      <th>xujiejine</th>
      <th>xujielixi</th>
      <th>总金额</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caiwuhuizongs.each do |caiwuhuizong| %>
      <tr>
        <td><%= caiwuhuizong.tongjiriqi %></td>
        <td><%= caiwuhuizong.tongjileixing %></td>
        <td><%= caiwuhuizong.jietiaozongbishu %></td>
        <td><%= caiwuhuizong.jietiaojine %></td>
        <td><%= caiwuhuizong.jietiaolixi %></td>
        <td><%= caiwuhuizong.fangkuanzongbishu %></td>
        <td><%= caiwuhuizong.fangkuanjine %></td>
        <td><%= caiwuhuizong.fangkuanlixi %></td>
        <td><%= caiwuhuizong.xujiezongbishu %></td>
        <td><%= caiwuhuizong.xujiejine %></td>
        <td><%= caiwuhuizong.xujielixi %></td>
        <td><%= caiwuhuizong.zongjine %></td>
        <td><%= link_to 'Show', caiwuhuizong %></td>
        <td><%= link_to 'Edit', edit_caiwuhuizong_path(caiwuhuizong) %></td>
        <td><%= link_to 'Destroy', caiwuhuizong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建财务汇总', new_caiwuhuizong_path %>
