<p id="notice"><%= notice %></p>

<p>
  <strong>统计日期:</strong>
  <%= @caiwuhuizong.tongjiriqi %>
</p>

<p>
  <strong>统计类型:</strong>
  <%= @caiwuhuizong.tongjileixing %>
</p>

<p>
  <strong>jietiaozongbishu:</strong>
  <%= @caiwuhuizong.jietiaozongbishu %>
</p>

<p>
  <strong>借条金额:</strong>
  <%= @caiwuhuizong.jietiaojine %>
</p>

<p>
  <strong>借条利息:</strong>
  <%= @caiwuhuizong.jietiaolixi %>
</p>

<p>
  <strong>fangkuanzongbishu:</strong>
  <%= @caiwuhuizong.fangkuanzongbishu %>
</p>

<p>
  <strong>放款金额:</strong>
  <%= @caiwuhuizong.fangkuanjine %>
</p>

<p>
  <strong>放款利息:</strong>
  <%= @caiwuhuizong.fangkuanlixi %>
</p>

<p>
  <strong>xujiezongbishu:</strong>
  <%= @caiwuhuizong.xujiezongbishu %>
</p>

<p>
  <strong>xujiejine:</strong>
  <%= @caiwuhuizong.xujiejine %>
</p>

<p>
  <strong>xujielixi:</strong>
  <%= @caiwuhuizong.xujielixi %>
</p>

<p>
  <strong>总金额:</strong>
  <%= @caiwuhuizong.zongjine %>
</p>

<%= link_to 'Edit', edit_caiwuhuizong_path(@caiwuhuizong) %> |
<%= link_to 'Back', caiwuhuizongs_path %>
