<%= simple_form_for(@jichucanshu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :leixingdaima,label:"类型代码" %>
    <%= f.input :leixingmingcheng,label:"类型名称" %>
    <%= f.input :daimazhi1,label:"值1" %>
    <%= f.input :daimazhi2,label:"值2" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
