<%= simple_form_for dingshirenwu do |f| %>
  <div class="field">
    定时任务
    <%= f.text_field :dingshirenwu %>
  </div>

  <div class="field">
    作业脚本
  <%= f.association :jiaobenzhixings %>
  </div>

  <div class="field">
    定时规则
    <%= f.text_field :dingshiguize %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  

<% end %>
