<p id="notice"><%= notice %></p>

<p>
  <strong>定时任务:</strong>
  <%= @dingshirenwu.dingshirenwu %>
</p>

<p>
  <strong>昨夜星辰:</strong>
  <%= @dingshirenwu.zuoyemingchen %>
</p>

<p>
  <strong>定时规则:</strong>
  <%= @dingshirenwu.dingshiguize %>
</p>

<%= link_to 'Edit', edit_dingshirenwu_path(@dingshirenwu) %> |
<%= link_to 'Back', dingshirenwus_path %>
