<p id="notice"><%= notice %></p>

<p>
  <strong>登录密码:</strong>
  <%= @lcbzhanghu.denglumima %>
</p>

<p>
  <strong>登陆姓名:</strong>
  <%= @lcbzhanghu.dengluxingming %>
</p>

<p>
  <strong>手机:</strong>
  <%= @lcbzhanghu.shouji %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @lcbzhanghu.xingming %>
</p>

<p>
  <strong>支付密码:</strong>
  <%= @lcbzhanghu.zhifumima %>
</p>

<p>
  <strong>邀请码:</strong>
  <%= @lcbzhanghu.yaoqingma %>
</p>

<p>
  <strong>邀请人:</strong>
  <%= @lcbzhanghu.yaoqingren %>
</p>

<p>
  <strong>状态:</strong>
  <%= @lcbzhanghu.zhuangtai %>
</p>

<%= link_to 'Edit', edit_lcbzhanghu_path(@lcbzhanghu) %> |
<%= link_to 'Back', lcbzhanghus_path %>
