<%= simple_form_for jiaobenzhixing do |f| %>

  <div class="form-group" >
    <label class=col-sm-2 control-label>脚本名称</label>
    <%= f.text_field :jiaobenmingcheng %>
  </div>
  <div class="form-group" >
    <label class=col-sm-2 control-label>目标机器</label>
  <%= f.association :diannaos %>
  </div>
    <div class="form-group" >
    <label class=col-sm-2 control-label> 脚本内容</label>
    <%= f.text_area :jiaobenneirong %>
  </div>
 


  <%= f.button :submit %>
<% end %>

