<%= simple_form_for jiaobenzhixing do |f| %>
  <%= f.input :jiaobenmingcheng %>
  <%= f.association :diannaos %>
  <%= f.button :submit %>
<% end %>


<%= form_for(jiaobenzhixing) do |f| %>
  <% if jiaobenzhixing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jiaobenzhixing.errors.count, "error") %> prohibited this jiaobenzhixing from being saved:</h2>

      <ul>
      <% jiaobenzhixing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    脚本名称
    <%= f.text_field :jiaobenmingcheng %>
  </div>
  

    <div class="field">
    执行账户
    <%= f.text_field :zhixingzhanghu %>
  </div>

  <div class="field">
    目标机器
    <%= f.text_field :mubiaojiqi %>
  </div>

  <div class="field">
    脚本内容
    <%= f.text_area :jiaobenneirong %>
  </div>

  <div class="field">
    脚本参数
    <%= f.text_field :jiaobencanshu %>
  </div>

  <div class="field">
    超时时间
    <%= f.text_field :chaoshishijian %>
  </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
