<p id="notice"><%= notice %></p>

<h1>Mimas</h1>

<table>
  <thead>
    <tr>
      <th>Mingzi</th>
      <th>Mima</th>
      <th>Miaoshu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mimas.each do |mima| %>
      <tr>
        <td><%= mima.mingzi %></td>
        <td><%= mima.mima %></td>
        <td><%= mima.miaoshu %></td>
        <td><%= link_to 'Show', mima %></td>
        <td><%= link_to 'Edit', edit_mima_path(mima) %></td>
        <td><%= link_to 'Destroy', mima, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mima', new_mima_path %>
