<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @mima.mingzi %>
</p>

<p>
  <strong>Mima:</strong>
  <%= @mima.mima %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @mima.miaoshu %>
</p>

<%= link_to 'Edit', edit_mima_path(@mima) %> |
<%= link_to 'Back', mimas_path %>
