<%= form_for(kuaisufenfawenjian) do |f| %>
  <% if kuaisufenfawenjian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kuaisufenfawenjian.errors.count, "error") %> prohibited this kuaisufenfawenjian from being saved:</h2>

      <ul>
      <% kuaisufenfawenjian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    昨夜星辰
    <%= f.text_field :zuoyemingchen %>
  </div>

  <div class="field">
    源文件
    <%= f.text_area :yuanwenjian %>
  </div>

  <div class="field">
    目标文件
    <%= f.text_field :mubiaowenjian %>
  </div>

  <div class="field">
    执行账户
    <%= f.text_field :zhixingzhanghu %>
  </div>

  <div class="field">
    目标机器
    <%= f.text_field :mubiaojiqi %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
