<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @menuindex.mingzi %>
</p>

<p>
  <strong>Url:</strong>
  <%= @menuindex.url %>
</p>

<%= link_to 'Edit', edit_menuindex_path(@menuindex) %> |
<%= link_to 'Back', menuindices_path %>
