<p id="notice"><%= notice %></p>

<p>
  <strong>mingzi:</strong>
  <%= @peizhiguanli.mingzi %>
</p>

<p>
  <strong>主机记录:</strong>
  <%= @peizhiguanli.zhujijilu %>
</p>

<p>
  <strong>ip:</strong>
  <%= @peizhiguanli.ip %>
</p>

<p>
  <strong>script:</strong>
  <%= @peizhiguanli.script %>
</p>

<p>
  <strong>描述:</strong>
  <%= @peizhiguanli.miaoshu %>
</p>

<p>
  <strong>ttl:</strong>
  <%= @peizhiguanli.ttl %>
</p>

<%= link_to 'Edit', edit_peizhiguanli_path(@peizhiguanli) %> |
<%= link_to 'Back', peizhiguanlis_path %>
