<p id="notice"><%= notice %></p>

<p>
  <strong>脚本名臣:</strong>
  <%= @kuaisujiaobenzhixing.jiaobenmingchen %>
</p>

<p>
  <strong>执行账户:</strong>
  <%= @kuaisujiaobenzhixing.zhixingzhanghu %>
</p>

<p>
  <strong>目标机器:</strong>
  <%= @kuaisujiaobenzhixing.mubiaojiqi %>
</p>

<p>
  <strong>脚本来源:</strong>
  <%= @kuaisujiaobenzhixing.jiaobenlaiyuan %>
</p>

<p>
  <strong>脚本内容:</strong>
  <%= @kuaisujiaobenzhixing.jiaobenneirong %>
</p>

<p>
  <strong>脚本参数:</strong>
  <%= @kuaisujiaobenzhixing.jiaobencanshu %>
</p>

<p>
  <strong>超时时间:</strong>
  <%= @kuaisujiaobenzhixing.chaoshishijian %>
</p>

<%= link_to 'Edit', edit_kuaisujiaobenzhixing_path(@kuaisujiaobenzhixing) %> |
<%= link_to 'Back', kuaisujiaobenzhixings_path %>
