<h1>登录帐户</h1>
<%= form_tag("/login", method: "post") do %>
  <%= label_tag(:zhanghaomingcheng, "账号:") %>
  <%= text_field_tag(:zhanghaomingcheng) %>
  <%= label_tag(:zhanghaomima, "密码:") %>
  <%= text_field_tag(:zhanghaomima) %>

  <%= submit_tag("登录") %>
<% end %>
