<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sslzhengshu.name %>
</p>

<p>
  <strong>Script:</strong>
  <%= @sslzhengshu.script %>
</p>

<p>
  <strong>Guoqiriqi:</strong>
  <%= @sslzhengshu.guoqiriqi %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @sslzhengshu.miaoshu %>
</p>

<%= link_to 'Edit', edit_sslzhengshu_path(@sslzhengshu) %> |
<%= link_to 'Back', sslzhengshus_path %>
