<p id="notice"><%= notice %></p>

<h1>旅贸通</h1>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>电话</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lvmaotongs.each do |lvmaotong| %>
      <tr>
        <td><%= lvmaotong.xingming %></td>
        <td><%= lvmaotong.dianhua %></td>
        <td><%= link_to 'Show', lvmaotong %></td>
        <td><%= link_to 'Edit', edit_lvmaotong_path(lvmaotong) %></td>
        <td><%= link_to 'Destroy', lvmaotong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建旅贸通', new_lvmaotong_path %>
