<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @lvmaotong.xingming %>
</p>

<p>
  <strong>电话:</strong>
  <%= @lvmaotong.dianhua %>
</p>

<%= link_to 'Edit', edit_lvmaotong_path(@lvmaotong) %> |
<%= link_to 'Back', lvmaotongs_path %>
