<%= simple_form_for(@fengxianguanli) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :xingming,label:"姓名" %>
    <%= f.input :shoujihao,label:"手机号" %>
    <%= f.input :fenxiandengji,label:"风险等级" %>
    <%= f.input :shuoming,label:"说明" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
