<%= simple_form_for(@tuiguang) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :tuiguangfangmingcheng,label:"推广方名称" %>
    <%= f.input :dangezhucejianglijin,label:"单个注册奖励金" %>
    <%= f.input :dangeziliaowanshanjianglijin,label:"单个资料完成度奖励金" %>
    <%= f.input :dangefangkuanjianglijinjine,label:"单个放款奖励金" %>
    <%= f.input :dangefangkuangjianglijinbaifenbi,label:"单个放款奖励金百分比" %>
    <%= f.input :dangqianzhuangtai,label:"当前状态" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
