<%= simple_form_for(@jiaoseguanli) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :jiaosedaima,label:"角色代码" %>
    <%= f.input :jiaosemingcheng,label:"角色名称" %>
    <%= f.input :suoshuquanxian,label:"所属权限" %>
    <%= f.input :qiyong,label:"启用" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
