<%= simple_form_for(@dizhiguanli) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :daima,label:"代码" %>
    <%= f.input :mingcheng,label:"名称" %>
    <%= f.input :shangjichengshi,label:"上级城市" %>
    <%= f.input :dengji,label:"等级" %>
    <%= f.input :paixu,label:"排序" %>
    <%= f.input :pinyin,label:"拼音" %>
    <%= f.input :jianpin,label:"简拼" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
