<p id="notice"><%= notice %></p>

<h1>安卓自动化测试</h1>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>脚本</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anzhuozidonghuaceshis.each do |anzhuozidonghuaceshi| %>
      <tr>
        <td><%= anzhuozidonghuaceshi.mingcheng %></td>
        <td><%= anzhuozidonghuaceshi.jiaoben %></td>
        <td><%= link_to 'Show', anzhuozidonghuaceshi %></td>
        <td><%= link_to 'Edit', edit_anzhuozidonghuaceshi_path(anzhuozidonghuaceshi) %></td>
        <td><%= link_to 'Destroy', anzhuozidonghuaceshi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建安卓自动化测试', new_anzhuozidonghuaceshi_path %>
