<p id="notice"><%= notice %></p>

<p>
  <strong>推广名称:</strong>
  <%= @tuiguangxiangqing.tuiguangmingcheng %>
</p>

<p>
  <strong>注册书:</strong>
  <%= @tuiguangxiangqing.zhuceshu %>
</p>

<p>
  <strong>申请书:</strong>
  <%= @tuiguangxiangqing.shenqingshu %>
</p>

<p>
  <strong>放款书:</strong>
  <%= @tuiguangxiangqing.fangkuanshu %>
</p>

<p>
  <strong>放款金额:</strong>
  <%= @tuiguangxiangqing.fangkuanjine %>
</p>

<p>
  <strong>统计日期:</strong>
  <%= @tuiguangxiangqing.tongjiriqi %>
</p>

<p>
  <strong>最后刷新时间:</strong>
  <%= @tuiguangxiangqing.zuihoushuaxinshijian %>
</p>

<%= link_to 'Edit', edit_tuiguangxiangqing_path(@tuiguangxiangqing) %> |
<%= link_to 'Back', tuiguangxiangqings_path %>
