<p id="notice"><%= notice %></p>

<h1>数据库账户</h1>

<table>
  <thead>
    <tr>
      <th>数据库账号bieming</th>
      <th>数据库账号</th>
      <th>数据库密码</th>
      <th>duankou</th>
      <th>类型</th>
      <th>之星的系统账户</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shujukuzhanghus.each do |shujukuzhanghu| %>
      <tr>
        <td><%= shujukuzhanghu.shujukuzhanghaobieming %></td>
        <td><%= shujukuzhanghu.shujukuzhanghao %></td>
        <td><%= shujukuzhanghu.shujukumima %></td>
        <td><%= shujukuzhanghu.duankou %></td>
        <td><%= shujukuzhanghu.leixing %></td>
        <td><%= shujukuzhanghu.zhixingdexitongzhanghu %></td>
        <td><%= link_to 'Show', shujukuzhanghu %></td>
        <td><%= link_to 'Edit', edit_shujukuzhanghu_path(shujukuzhanghu) %></td>
        <td><%= link_to 'Destroy', shujukuzhanghu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建数据库账户', new_shujukuzhanghu_path %>
