<p id="notice"><%= notice %></p>

<p>
  <strong>数据库账号bieming:</strong>
  <%= @shujukuzhanghu.shujukuzhanghaobieming %>
</p>

<p>
  <strong>数据库账号:</strong>
  <%= @shujukuzhanghu.shujukuzhanghao %>
</p>

<p>
  <strong>数据库密码:</strong>
  <%= @shujukuzhanghu.shujukumima %>
</p>

<p>
  <strong>duankou:</strong>
  <%= @shujukuzhanghu.duankou %>
</p>

<p>
  <strong>类型:</strong>
  <%= @shujukuzhanghu.leixing %>
</p>

<p>
  <strong>之星的系统账户:</strong>
  <%= @shujukuzhanghu.zhixingdexitongzhanghu %>
</p>

<%= link_to 'Edit', edit_shujukuzhanghu_path(@shujukuzhanghu) %> |
<%= link_to 'Back', shujukuzhanghus_path %>
