<p id="notice"><%= notice %></p>

<p>
  <strong>脚本名臣:</strong>
  <%= @kuaisuzhixingsqljiaoben.jiaobenmingchen %>
</p>

<p>
  <strong>dbzhanghaobieming:</strong>
  <%= @kuaisuzhixingsqljiaoben.dbzhanghaobieming %>
</p>

<p>
  <strong>目标机器:</strong>
  <%= @kuaisuzhixingsqljiaoben.mubiaojiqi %>
</p>

<p>
  <strong>脚本内容:</strong>
  <%= @kuaisuzhixingsqljiaoben.jiaobenneirong %>
</p>

<p>
  <strong>超时时间:</strong>
  <%= @kuaisuzhixingsqljiaoben.chaoshishijian %>
</p>

<%= link_to 'Edit', edit_kuaisuzhixingsqljiaoben_path(@kuaisuzhixingsqljiaoben) %> |
<%= link_to 'Back', kuaisuzhixingsqljiaobens_path %>
