<p id="notice"><%= notice %></p>

<p>
  <strong>昨夜星辰:</strong>
  <%= @changyongzuoye.zuoyemingchen %>
</p>

<p>
  <strong>分类标签:</strong>
  <%= @changyongzuoye.fenleibiaoqian %>
</p>

<p>
  <strong>全局变量设置:</strong>
  <%= @changyongzuoye.quanjubianliangshezhi %>
</p>

<p>
  <strong>部周明臣:</strong>
  <%= @changyongzuoye.buzhoumingchen %>
</p>

<p>
  <strong>脚本名臣:</strong>
  <%= @changyongzuoye.jiaobenmingchen %>
</p>

<p>
  <strong>执行账户:</strong>
  <%= @changyongzuoye.zhixingzhanghu %>
</p>

<p>
  <strong>服务器书:</strong>
  <%= @changyongzuoye.fuwuqishu %>
</p>

<p>
  <strong>脚本参数:</strong>
  <%= @changyongzuoye.jiaobencanshu %>
</p>

<p>
  <strong>完成后展厅:</strong>
  <%= @changyongzuoye.wanchenghouzhanting %>
</p>

<%= link_to 'Edit', edit_changyongzuoye_path(@changyongzuoye) %> |
<%= link_to 'Back', changyongzuoyes_path %>
