<%= form_for(sousuo) do |f| %>
  <% if sousuo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sousuo.errors.count, "error") %> prohibited this sousuo from being saved:</h2>

      <ul>
      <% sousuo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    appname
    <%= f.text_field :appname %>
  </div>

  <div class="field">
    公司
    <%= f.text_field :gongsi %>
  </div>

  <div class="field">
    类型
    <%= f.text_field :leixing %>
  </div>

  <div class="field">
    type
    <%= f.text_field :type %>
  </div>

  <div class="field">
    趋势
    <%= f.text_field :qushi %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
