<p id="notice"><%= notice %></p>

<h1>搜索</h1>

<table class="table table-out-bordered table-header-bg table-hover f12">
  <thead>
    <tr>
      <th>appname</th>
      <th>公司</th>
      <th>类型</th>
      <th>type</th>
      <th>趋势</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sousuos.each do |sousuo| %>
      <tr>
        <td><%= sousuo.appname %></td>
        <td><%= sousuo.gongsi %></td>
        <td><%= sousuo.leixing %></td>
        <td><%= sousuo.type %></td>
        <td><%= sousuo.qushi %></td>
        <td><%= link_to 'Show', sousuo %></td>
        <td><%= link_to 'Edit', edit_sousuo_path(sousuo) %></td>
        <td><%= link_to 'Destroy', sousuo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建搜索', new_sousuo_path %>
