<p id="notice"><%= notice %></p>

<p>
  <strong>mingzi:</strong>
  <%= @jiankong.mingzi %>
</p>

<p>
  <strong>script:</strong>
  <%= @jiankong.script %>
</p>

<p>
  <strong>描述:</strong>
  <%= @jiankong.miaoshu %>
</p>

<p>
  <strong>Fuwu:</strong>
  <%= @jiankong.fuwu_id %>
</p>

<%= link_to 'Edit', edit_jiankong_path(@jiankong) %> |
<%= link_to 'Back', jiankongs_path %>
