<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @xujiedaifangkuanliebiao.xingming %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @xujiedaifangkuanliebiao.shoujihao %>
</p>

<p>
  <strong>借款金额:</strong>
  <%= @xujiedaifangkuanliebiao.jiekuanjine %>
</p>

<p>
  <strong>借款利息:</strong>
  <%= @xujiedaifangkuanliebiao.jiekuanlixi %>
</p>

<p>
  <strong>借款期限:</strong>
  <%= @xujiedaifangkuanliebiao.jiekuanqixian %>
</p>

<p>
  <strong>借款时间:</strong>
  <%= @xujiedaifangkuanliebiao.jiekuanshijian %>
</p>

<p>
  <strong>徐杰:</strong>
  <%= @xujiedaifangkuanliebiao.xujie %>
</p>

<p>
  <strong>审核时间:</strong>
  <%= @xujiedaifangkuanliebiao.shenheshijian %>
</p>

<p>
  <strong>审核人:</strong>
  <%= @xujiedaifangkuanliebiao.shenheren %>
</p>

<p>
  <strong>通过:</strong>
  <%= @xujiedaifangkuanliebiao.tongguo %>
</p>

<%= link_to 'Edit', edit_xujiedaifangkuanliebiao_path(@xujiedaifangkuanliebiao) %> |
<%= link_to 'Back', xujiedaifangkuanliebiaos_path %>
