<%= simple_form_for(@xinyonghudaifangkuanliebiao) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :xingming,label:"姓名" %>
    <%= f.input :shoujihao,label:"手机号" %>
    <%= f.input :jiekuanjine,label:"借款金额" %>
    <%= f.input :jiekuanlixi,label:"借款利息" %>
    <%= f.input :jiekuanqixian,label:"借款期限" %>
    <%= f.input :jiekuanshijian,label:"借款时间" %>
    <%= f.input :shenheren,label:"审核人" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
