<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @xinyonghudaifangkuanliebiao.xingming %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @xinyonghudaifangkuanliebiao.shoujihao %>
</p>

<p>
  <strong>借款金额:</strong>
  <%= @xinyonghudaifangkuanliebiao.jiekuanjine %>
</p>

<p>
  <strong>借款利息:</strong>
  <%= @xinyonghudaifangkuanliebiao.jiekuanlixi %>
</p>

<p>
  <strong>借款期限:</strong>
  <%= @xinyonghudaifangkuanliebiao.jiekuanqixian %>
</p>

<p>
  <strong>借款时间:</strong>
  <%= @xinyonghudaifangkuanliebiao.jiekuanshijian %>
</p>

<p>
  <strong>审核人:</strong>
  <%= @xinyonghudaifangkuanliebiao.shenheren %>
</p>

<%= link_to 'Edit', edit_xinyonghudaifangkuanliebiao_path(@xinyonghudaifangkuanliebiao) %> |
<%= link_to 'Back', xinyonghudaifangkuanliebiaos_path %>
