<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @fuwu.mingzi %>
</p>

<p>
  <strong>Svn:</strong>
  <%= @fuwu.svn %>
</p>

<p>
  <strong>Port:</strong>
  <%= @fuwu.port %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @fuwu.miaoshu %>
</p>

<p>
  <strong>Diannao:</strong>
  <%= @fuwu.diannao_id %>
</p>

<%= link_to 'Edit', edit_fuwu_path(@fuwu) %> |
<%= link_to 'Back', fuwus_path %>
