<%= simple_form_for(@ceshijilu) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mingcheng %>
    <%= f.input :jiaoben %>
    <%= f.input :beizhu %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
