<p id="notice"><%= notice %></p>

<h1>测试记录</h1>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>脚本</th>
      <th>备注</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ceshijilus.each do |ceshijilu| %>
      <tr>
        <td><%= ceshijilu.mingcheng %></td>
        <td><%= ceshijilu.jiaoben %></td>
        <td><%= ceshijilu.beizhu %></td>
        <td><%= link_to 'Show', ceshijilu %></td>
        <td><%= link_to 'Edit', edit_ceshijilu_path(ceshijilu) %></td>
        <td><%= link_to 'Destroy', ceshijilu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建测试记录', new_ceshijilu_path %>
