<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @ceshijilu.mingcheng %>
</p>

<p>
  <strong>脚本:</strong>
  <%= @ceshijilu.jiaoben %>
</p>

<p>
  <strong>备注:</strong>
  <%= @ceshijilu.beizhu %>
</p>

<%= link_to 'Edit', edit_ceshijilu_path(@ceshijilu) %> |
<%= link_to 'Back', ceshijilus_path %>
