<p id="notice"><%= notice %></p>

<p>
  <strong>作业名称:</strong>
  <%= @changyongzuoye1.zuoyemingcheng %>
</p>

<p>
  <strong>分类标签:</strong>
  <%= @changyongzuoye1.fenleibiaoqian %>
</p>

<p>
  <strong>全局变量设置:</strong>
  <%= @changyongzuoye1.quanjubianliangshezhi %>
</p>

<p>
  <strong>部首名称:</strong>
  <%= @changyongzuoye1.buzhoumingcheng %>
</p>

<p>
  <strong>脚本名称:</strong>
  <%= @changyongzuoye1.jiaobenmingcheng %>
</p>

<p>
  <strong>执行账户:</strong>
  <%= @changyongzuoye1.zhixingzhanghu %>
</p>

<p>
  <strong>服务器数量:</strong>
  <%= @changyongzuoye1.fuwuqishuliang %>
</p>

<p>
  <strong>脚本参数:</strong>
  <%= @changyongzuoye1.jiaobencanshu %>
</p>

<p>
  <strong>完成后暂停:</strong>
  <%= @changyongzuoye1.wanchenghouzanting %>
</p>

<%= link_to 'Edit', edit_changyongzuoye1_path(@changyongzuoye1) %> |
<%= link_to 'Back', changyongzuoye1s_path %>
