<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @app.mingzi %>
</p>

<p>
  <strong>Svn:</strong>
  <%= @app.svn %>
</p>

<p>
  <strong>Port:</strong>
  <%= @app.port %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
