<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @anzhuoceshi.mingcheng %>
</p>

<p>
  <strong>脚本:</strong>
  <%= @anzhuoceshi.jiaoben %>
</p>

<%= link_to 'Edit', edit_anzhuoceshi_path(@anzhuoceshi) %> |
<%= link_to 'Back', anzhuoceshis_path %>
