<%= simple_form_for(@guanliyuan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :zhanghao,label: '账号'  %>
    <%= f.input :xingming , label: '姓名'%>
    <%= f.input :chuangjianshijian,label:'创建时间' %>
    <%= f.input :dengji,label:'等级' %>
    <%= f.input :suoshujiaose,label:'所属角色' %>
    <%= f.input :suoshujigou,label:'所属机构' %>
    <%= f.input :xingbie,label:'性别' %>
    <%= f.input :shouji,label:'手机' %>
    <%= f.input :qiyong,label:'启用' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
