<p id="notice"><%= notice %></p>

<p>
  <strong>账号:</strong>
  <%= @guanliyuan.zhanghao %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @guanliyuan.xingming %>
</p>

<p>
  <strong>创建时间:</strong>
  <%= @guanliyuan.chuangjianshijian %>
</p>

<p>
  <strong>等级:</strong>
  <%= @guanliyuan.dengji %>
</p>

<p>
  <strong>suoshujiaose:</strong>
  <%= @guanliyuan.suoshujiaose %>
</p>

<p>
  <strong>所属机构:</strong>
  <%= @guanliyuan.suoshujigou %>
</p>

<p>
  <strong>性别:</strong>
  <%= @guanliyuan.xingbie %>
</p>

<p>
  <strong>手机:</strong>
  <%= @guanliyuan.shouji %>
</p>

<p>
  <strong>启用:</strong>
  <%= @guanliyuan.qiyong %>
</p>

<%= link_to 'Edit', edit_guanliyuan_path(@guanliyuan) %> |
<%= link_to 'Back', guanliyuans_path %>
