<p id="notice"><%= notice %></p>

<p>
  <strong>Mingzi:</strong>
  <%= @yuming.mingzi %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @yuming.ip %>
</p>

<p>
  <strong>Miaoshu:</strong>
  <%= @yuming.miaoshu %>
</p>

<%= link_to 'Edit', edit_yuming_path(@yuming) %> |
<%= link_to 'Back', yumings_path %>
