<p id="notice"><%= notice %></p>

<p>
  <strong>系统账号:</strong>
  <%= @xitongzhanghuguanli.xitongzhanghao %>
</p>

<p>
  <strong>系统密码:</strong>
  <%= @xitongzhanghuguanli.xitongmima %>
</p>

<%= link_to 'Edit', edit_xitongzhanghuguanli_path(@xitongzhanghuguanli) %> |
<%= link_to 'Back', xitongzhanghuguanlis_path %>
