<p id="notice"><%= notice %></p>

<p>
  <strong>状态:</strong>
  <%= @lcbzhiyawu.zhuangtai %>
</p>

<p>
  <strong>目标金额:</strong>
  <%= @lcbzhiyawu.mubiaojine %>
</p>

<p>
  <strong>募集金额:</strong>
  <%= @lcbzhiyawu.mujijine %>
</p>

<p>
  <strong>lilv:</strong>
  <%= @lcbzhiyawu.lilv %>
</p>

<p>
  <strong>存款期限:</strong>
  <%= @lcbzhiyawu.cunkuanqixian %>
</p>

<p>
  <strong>名称:</strong>
  <%= @lcbzhiyawu.mingcheng %>
</p>

<p>
  <strong>zuixiaoine:</strong>
  <%= @lcbzhiyawu.zuixiaoine %>
</p>

<%= link_to 'Edit', edit_lcbzhiyawu_path(@lcbzhiyawu) %> |
<%= link_to 'Back', lcbzhiyawus_path %>
