<p id="notice"><%= notice %></p>

<p>
  <strong>程序名称:</strong>
  <%= @shujufenxi.chengxumingcheng %>
</p>

<p>
  <strong>网址:</strong>
  <%= @shujufenxi.wangzhi %>
</p>

<%= link_to 'Edit', edit_shujufenxi_path(@shujufenxi) %> |
<%= link_to 'Back', shujufenxis_path %>
