<p id="notice"><%= notice %></p>

<p>
  <strong>程序名称:</strong>
  <%= @pingguodingshirenwu.chengxumingcheng %>
</p>

<p>
  <strong>关键词:</strong>
  <%= @pingguodingshirenwu.guanjianci %>
</p>

<p>
  <strong>第几名:</strong>
  <%= @pingguodingshirenwu.dijiming %>
</p>

<p>
  <strong>备注:</strong>
  <%= @pingguodingshirenwu.beizhu %>
</p>

<%= link_to 'Edit', edit_pingguodingshirenwu_path(@pingguodingshirenwu) %> |
<%= link_to 'Back', pingguodingshirenwus_path %>
