<p id="notice"><%= notice %></p>

<p>
  <strong>Shichang:</strong>
  <%= @androidupdate.shichang %>
</p>

<p>
  <strong>Fabushijian:</strong>
  <%= @androidupdate.fabushijian %>
</p>

<p>
  <strong>Apkurl:</strong>
  <%= @androidupdate.apkurl %>
</p>

<p>
  <strong>Versioncode:</strong>
  <%= @androidupdate.versioncode %>
</p>

<p>
  <strong>Versionname:</strong>
  <%= @androidupdate.versionname %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @androidupdate.summary %>
</p>

<%= link_to 'Edit', edit_androidupdate_path(@androidupdate) %> |
<%= link_to 'Back', androidupdates_path %>
