<%= simple_form_for(@huiyuan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :xingming %>
    <%= f.input :shenfenzheng %>
    <%= f.input :yunyingshang %>
    <%= f.input :zhaopian %>
    <%= f.input :fengxiandengji %>
    <%= f.input :jiekuancishu %>
    <%= f.input :tuijianren %>
    <%= f.input :qq %>
    <%= f.input :shenfenzheng %>
    <%= f.input :jiaoyuqingkuang %>
    <%= f.input :juzhushichang %>
    <%= f.input :zhiye %>
    <%= f.input :gongsimingcheng %>
    <%= f.input :gongsidizhi %>
    <%= f.input :qinshu %>
    <%= f.input :guanxi %>
    <%= f.input :yinhangkahao %>
    <%= f.input :yinhangmingcheng %>
    <%= f.input :yinhangyuliushoujihao %>
    <%= f.input :xinxitianxieqingkuang %>
    <%= f.input :yinhangkaxinxitianxieqingkuang %>
    <%= f.input :yonghuzhuangtai %>
    <%= f.input :zuijinjiekuanzhuangtai %>
    <%= f.input :xinyongedu %>
    <%= f.input :laiyuan %>
    <%= f.input :shenheren %>
    <%= f.input :shoujihao %>
    <%= f.input :email %>
    <%= f.input :hunyinzhuangkuang %>
    <%= f.input :zuzhudizhi %>
    <%= f.input :shouru %>
    <%= f.input :gongsichengshi %>
    <%= f.input :gongsidianhua %>
    <%= f.input :qingshudianhua %>
    <%= f.input :guanxidianhua %>
    <%= f.input :yinhanghuming %>
    <%= f.input :suozaichengshi %>
    <%= f.input :yinhangyuliushenfengzhenghaoma %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
