<p id="notice"><%= notice %></p>

<p>
  <strong>姓名:</strong>
  <%= @huiyuan.xingming %>
</p>

<p>
  <strong>身份证:</strong>
  <%= @huiyuan.shenfenzheng %>
</p>

<p>
  <strong>运营商:</strong>
  <%= @huiyuan.yunyingshang %>
</p>

<p>
  <strong>照片:</strong>
  <%= @huiyuan.zhaopian %>
</p>

<p>
  <strong>风险等级:</strong>
  <%= @huiyuan.fengxiandengji %>
</p>

<p>
  <strong>借款次数:</strong>
  <%= @huiyuan.jiekuancishu %>
</p>

<p>
  <strong>推荐人:</strong>
  <%= @huiyuan.tuijianren %>
</p>

<p>
  <strong>qq:</strong>
  <%= @huiyuan.qq %>
</p>

<p>
  <strong>身份证:</strong>
  <%= @huiyuan.shenfenzheng %>
</p>

<p>
  <strong>教育情况:</strong>
  <%= @huiyuan.jiaoyuqingkuang %>
</p>

<p>
  <strong>居住市场:</strong>
  <%= @huiyuan.juzhushichang %>
</p>

<p>
  <strong>zhiye:</strong>
  <%= @huiyuan.zhiye %>
</p>

<p>
  <strong>公司名称:</strong>
  <%= @huiyuan.gongsimingcheng %>
</p>

<p>
  <strong>公司地址:</strong>
  <%= @huiyuan.gongsidizhi %>
</p>

<p>
  <strong>情书:</strong>
  <%= @huiyuan.qinshu %>
</p>

<p>
  <strong>guanxi:</strong>
  <%= @huiyuan.guanxi %>
</p>

<p>
  <strong>银行卡号:</strong>
  <%= @huiyuan.yinhangkahao %>
</p>

<p>
  <strong>银行名称:</strong>
  <%= @huiyuan.yinhangmingcheng %>
</p>

<p>
  <strong>银行预留手机号:</strong>
  <%= @huiyuan.yinhangyuliushoujihao %>
</p>

<p>
  <strong>信息填写情况:</strong>
  <%= @huiyuan.xinxitianxieqingkuang %>
</p>

<p>
  <strong>银行卡信息填写情况:</strong>
  <%= @huiyuan.yinhangkaxinxitianxieqingkuang %>
</p>

<p>
  <strong>用户状态:</strong>
  <%= @huiyuan.yonghuzhuangtai %>
</p>

<p>
  <strong>资金借款状态:</strong>
  <%= @huiyuan.zuijinjiekuanzhuangtai %>
</p>

<p>
  <strong>信用额度:</strong>
  <%= @huiyuan.xinyongedu %>
</p>

<p>
  <strong>涞源:</strong>
  <%= @huiyuan.laiyuan %>
</p>

<p>
  <strong>审核人:</strong>
  <%= @huiyuan.shenheren %>
</p>

<p>
  <strong>手机号:</strong>
  <%= @huiyuan.shoujihao %>
</p>

<p>
  <strong>email:</strong>
  <%= @huiyuan.email %>
</p>

<p>
  <strong>婚姻状况:</strong>
  <%= @huiyuan.hunyinzhuangkuang %>
</p>

<p>
  <strong>租住地址:</strong>
  <%= @huiyuan.zuzhudizhi %>
</p>

<p>
  <strong>收入:</strong>
  <%= @huiyuan.shouru %>
</p>

<p>
  <strong>公司城市:</strong>
  <%= @huiyuan.gongsichengshi %>
</p>

<p>
  <strong>公司电话:</strong>
  <%= @huiyuan.gongsidianhua %>
</p>

<p>
  <strong>情书电话:</strong>
  <%= @huiyuan.qingshudianhua %>
</p>

<p>
  <strong>关系电话:</strong>
  <%= @huiyuan.guanxidianhua %>
</p>

<p>
  <strong>银行户名:</strong>
  <%= @huiyuan.yinhanghuming %>
</p>

<p>
  <strong>所在城市:</strong>
  <%= @huiyuan.suozaichengshi %>
</p>

<p>
  <strong>银行预留身份证号码:</strong>
  <%= @huiyuan.yinhangyuliushenfengzhenghaoma %>
</p>

<%= link_to 'Edit', edit_huiyuan_path(@huiyuan) %> |
<%= link_to 'Back', huiyuans_path %>
